[Desktop Entry]
Name=Pass
Comment=Copies a password from the password store (https://www.passwordstore.org/) to the clipboard
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=preferences-desktop-font
X-KDE-Library=krunner_pass
X-KDE-PluginInfo-Author=Lukas Fürmetz
X-KDE-PluginInfo-Email=fuermetz@mailbox.org
X-KDE-PluginInfo-Name=Pass
X-KDE-PluginInfo-Version=1.1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
